/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

/* AdminLTE */
@import "admin-lte/dist/css/adminlte.min.css";

/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Optional: custom theme variables */
:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}